form{
	margin-top: 200px;
	margin-left: 200px;
	border: 5px groove red;
	border-radius: 10px;
	padding-left: 30px;
	width: 450px;
}
label{
	font-size: 20px;
	color:green;
	font-family: 'Roboto', sans-serif;
	margin-left: 20px;
}
input{
	margin: 20px;
}
#ime,#prezime::-webkit-input-placeholder{
	font-family: 'Oswald', sans-serif;
}
p{
	font-family: 'Oswald', sans-serif;
}
#levo{
	float: left;
	margin-right: 5px;
}
.prekid{
	clear: both;
}
.blok{
	margin-top: 3px;
}
